<hr>
<main>
    <!-- Home Banner -->
    <section class="parallax effect-section" style="background-image: url(static/img/home-banner.jpg);">
        <div class="mask bg-black opacity-5"></div>
        <div class="container position-relative">
            <div class="row min-vh-65 justify-content-center align-items-center py-6 py-md-12 g-4">
                <div class="col-lg-6 col-xl-5">
                    <h6 class="text-black"></h6>
                    <h1 class="display-4 pt-3 text-black" style="font-family: 'Times New Roman', Times, serif;">Search and Find good Properties</h1>
                    <div class="pt-2">
                        <a class="btn btn-primary me-1 mb-1 rounded-0" href="#">Explore More</a>
                        <a class="btn btn-warning me-1 mb-1 rounded-0" href="#">Contact Now</a>
                    </div>
                </div>
                <div class="col-lg-6 col-xl-5 col-xxl-4 ms-auto">
                    <div class="card">
                        <div class="card-body p-4 p-lg-5">
                            <div class="text-center">
                                <!-- <h5 class="h3">Post Your Property by Creating and Account</h5> -->
                                <!-- <p>Long-term financial strategies </p> -->
                            </div>
                            <form class="rd-mailform" data-form-output="form-output-global" data-form-type="contact" [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
                                <div class="form-floating mb-4">
                                    <label for="Name">Name</label>
                                    <input type="text" class="form-control" formControlName="userName">
                                    <label *ngIf="f.userName.touched && f.userName.invalid" class="text-danger">
                                    <span *ngIf="f.userName.errors">Username must be atleast 6 characters.</span>
                                  </label>
                                </div>
                                <div class="form-floating mb-4">
                                    <label for="Email">Email</label>
                                    <input type="email" class="form-control" formControlName="email" required>
                                    <label *ngIf="f.email.touched && f.email.invalid" class="text-danger">
                                     <span *ngIf="f.email.errors">Invalid email format</span>
                                    </label>
                                </div>
                                <div class="form-floating mb-4">
                                    <label for="mobile">Phone Number</label>
                                    <input type="number" class="form-control" formControlName="mobile" required>
                                    <label *ngIf="f.mobile.touched && f.mobile.invalid" class="text-danger">
                                    <span *ngIf="f.mobile.errors">Phonenumber is required</span>
                                    </label>
                                </div>
                                <div class="form-floating mb-4">
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control" formControlName="password">
                                    <label *ngIf="f.password.touched && f.password.invalid" class="text-danger">Password is required </label>
                                    <label *ngIf="f.password.touched && f.password.errors" class="text-danger">& must be 6 characters</label>
                                </div>
                                <div class="form-floating mb-4">
                                    <label for="Comfirm password">Confirm Password</label>
                                    <input type="password" class="form-control" formControlName="confirmPassword">
                                    <label *ngIf="f.confirmPassword.touched && f.confirmPassword.invalid" class="text-danger">
                                    <div *ngIf="f.confirmPassword.errors">Password must match.</div>
                                </label>
                                </div>
                                <button class="btn btn-primary w-100 rounded-0" type="submit" [disabled]="!form.valid">List Your Property</button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</main>
<hr>